
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: #ede4d5;
}

 /**** Big Container ****/
#container {
    max-width: 1000px;
    width: 90%;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 30px;
}

/**** Header - Brick red background ****/
#header {
    background-color: #772f1a;
    font-family: 'Playfair Display';
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    line-height: 1.5;
}

#logo {
    width: 75%;
    max-width: 200px;
    margin-top: 20px;
}

/**** Container - white background ****/
#main {
    padding: 15px;
}

/**** Textures and Colors ****/
.styletileheader {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.colorchip {
    width: 75px;
    height: 75px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 5px;
    box-shadow: 5px 5px 5px #d9d9d9;
    margin: auto;
    margin-bottom: 10px;
}
#greychip {
    background-color: #4d4d4d;
}

#mustardchip {
    background-color: #b27e3e;
}

#brickredchip {
    background-color: #772f1a;
}

#creamchip {
    background-color: #ede4d5;
}

#whitechip {
    background-color: #ffffff;
}

.chipcaption {
    margin: auto;
    text-align: center;
    font-family: 'Source Sans Pro';
    color: #4d4d4d;
    margin-bottom: 10px;
}

.texturechip {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 5px;
    box-shadow: 5px 5px 5px #d9d9d9;
    margin: auto;
    margin-bottom: 10px;
}

#woodtexture {
    background-image: url("../img/woodtexture.jpg");
    background-size: 300px;
}

#bricktexture {
    background-image: url("../img/bricktexture.jpg");
    background-size: 400px;
}

#watercolortexture {
    background-image: url("../img/watercolortexture.jpg");
    background-size: 200px;
}

/**** Button ****/
button {
    max-width: 400px;
    width: 100%;
    background-color: #772f1a;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    letter-spacing: 2px;
    padding: 15px;
    border: solid;
    border-color: #ffffff;
    border-width: 1px;
    display: block;
    margin: auto;
}

#button {
    margin-top: 40px;
}

button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #772f1a;
    background-color: #ffffff;
    color: #772f1a;
}

/**** Text styles ****/
h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #772f1a;

}

h2 {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #b27e3e;
}

a:hover {
    text-decoration: underline;
}

/**** Keyword styles ****/
ul li {
    list-style-type: none;
    font-family: 'Source Sans Pro';
    font-size: 3em;
    color: #4d4d4d;
    letter-spacing: 3px;
    padding: 5px;
}
#keywords {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}

/**** Media Queries ****/

/**** 768px ****/
@media (min-width: 768px) {
    #color-texture-wrapper {
        display: flex;
    }
    #colors-wrapper {
        width: 49%;

    }
    #textures-wrapper {
        width: 49%;
    }
    ul li {
        display: inline;
        padding: 20px;
    }
    #logo {
        float: left;
        box-shadow: 2px 2px 2px #d9d9d9;
    }
    #header {
        padding-bottom: 50px;
        margin-bottom: 25px;
    }
    #title {
        padding-top: 50px;
    }
    #main {
        clear: both;
    }
    .styletileheader {
        text-align: center;
    }
}
